# errors and warnings
error.txt
warnings.txt
info.txt

# image files created using simnd
*.dmi 
*.smi
*.hv
*.v
*.ahv

# simind output files
output_files

# simind.smc in case of duplication
simind.smc 

# temporary files
tmp_*

#tumour file created in notebook
tumour.inp

# image plots
*.png

# test notebooks
test.ipynb
STIR_simind_tumour.ipynb

# symlink files
*.lnk

.ipynb_checkpoints